:root {
  --primary-color: #fff;
  --secondary-color: #decf0e;
  --font-size: small;
  --font-weight: 400;
}

#root {
  max-width: 1280px;
  margin: 0;
}

.navbar-expand-lg {
  background-color: var(--secondary-color) !important;
  font-weight: var(--font-weight) !important;
  line-height: 1 !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: var(--primary-color) !important;
  font-size: var(--font-size) !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
}

.navbar-search-btn {
  background-color: transparent !important;
  border-color: #ffffffc4 !important;
  color: var(--primary-color) !important;
  transition: none !important;
  margin: 0 5em;
}

.navbar-search-btn:focus,
.navbar-search-popup:focus,
.navbar-search-input:focus {
  box-shadow: none !important;
}

.navbar-search-text {
  padding-left: 15rem !important;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.navbar-search-popup {
  position: absolute !important;
  display: flex;
  top: 0;
  justify-content: center;
  height: 100vh;
  background-color: #0000000d !important;
  transition: none !important;
  width: 100vw;
}

.navbar-search-popup-child {
  display: flex;
  flex-direction: column;
  width: 50% !important;
  margin-top: 0.4em;
  gap: 0.1em;
}

.navbar-search-input {
  background-color: var(--primary-color) !important;
  border: none !important;
  color: var(--secondary-color) !important;
  height: 2.5em;
}

.navbar-search-input::placeholder {
  color: var(--secondary-color) !important;
}

.navbar-search-input:focus {
  border: none !important;
}

.navbar-search-input-right-text,
.navbar-search-input-right-text:focus,
.navbar-search-input-left-text,
.navbar-search-input-left-text:focus {
  border: none !important;
  background-color: var(--primary-color) !important;
  color: var(--secondary-color) !important;
}

.navbar-search-ul {
  font-size: var(--font-size) !important;
  color: var(--secondary-color) !important;
  background-color: var(--primary-color) !important;
  border-radius: .3em;
  height: 40vh;
}

.navbar-search-li {
  list-style: none;
  line-height: 3em;
}

.navbar-search-li a {
  text-decoration: none;
  color: var(--secondary-color) !important;
}